<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title> ERROR </title>
    <link href="../static/css/Style.css"
          th:href="@{/css/Style.css}"
          rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

</head>
<body class="bg-dark text-light">

<div class="border border-light menu">
    <h3> Error - You are trying to delete object with existing relation</h3>
</div>

<div class="border border-light menu">
<h5> Before deleting selected object you need to <a href="/edit">edit</a> all relations with others by selecting DETACH option at dropdown lists.</h5>
</div>

</body>
</html>