<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Hc</title>
    <script type="text/javascript" th:src="@{/js/addFormValidation.js}"></script>
    <link href="../static/css/Style.css"
          th:href="@{/css/Style.css}"
          rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

</head>
<body class="bg-dark text-light">
<div class="border border-light menu">
    <h4 th:text="${house.getAdress()}"></h4>
    <a onclick=" return areYouSure()" th:href="'/delete/house/'+${house.getId()}"><button class="delete">DELETE</button></a>
</div>
<div class="border border-light menu">
<form th:action="'/edit/house/success/'+${house.getId()}" method="post" th:object="${house}" onsubmit="return checkHouse()">
        <input id="adress" name="adress" type="text" placeholder="Adress..." class="" th:value="${house.getAdress()}"/>
        <input type="submit" class=""/>
    </form>
</div>


</body>
</html>